body {
    background-color: white;
    font-family: 'Bangers', cursive;
  }
  @font-face {   font-family: 'Bangers', cursive;
    src: url('../Bangers/Bangers-Regular.ttf'); } 
p {
    color: black;
    font-size: 16px;
    line-height: 30px;
    margin-top: 25px;
    padding: 10px 20px;
  }
  #banner .content h1 {
    border: 3px solid white;
    position: relative;
    padding:10px 0 5px 20px;
  }

  #main {
    padding:10px 0 5px 20px;
    text-align: left;
   background-image: url("../images/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
    
  }
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
footer {
    background-color:#e9ecef;
    padding: 15px  25px;
    text-align: right;
    color: white;
    margin-top: -26px;
  }
  a{
      color: black;
  }
  .header1 {
    background-image: url("../images/m.png");
    padding: 100px;
    text-align: lefts;
    color: white;
  }
  header {
    background-image: url("../images/m.png");
    padding: 60px;
    text-align: lefts;
    color: white;
  }
  img{
    padding: 10px;
    float:left;
    width: 300px;
    height: 200px;
  }
  section::after {
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Bangers', cursive;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
   h1{
    font-family: 'Bangers', cursive;
   }
    h2{
      font-family: 'Bangers', cursive;
    }
  }