body {
    background-color: white;
    font-family: 'Bangers', cursive;
  }
  @font-face {   font-family: 'Bangers', cursive;
    src: url('../Bangers/Bangers-Regular.ttf'); } 
p {
    color: black;
    font-size: 16px;
    line-height: 30px;
    margin-top: 25px;
    padding: 10px 20px;
  }
  #banner .content h1 {
    border: 3px solid white;
    position: relative;
    padding:10px 0 5px 20px;
  }

  #main {
    padding:10px 0 5px 20px;
    text-align: left;
   background-image: url("../images/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
    
  }
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
footer {
    background-color:#e9ecef;
    padding: 15px  25px;
    text-align: right;
    color: white;
    margin-top: -26px;
  }
  a{
      color: black;
  }
  .header1 {
    background-image: url("../images/m.png");
    padding: 100px;
    text-align: left;
    color: white;
  }
  header {
    background-image: url("../images/m.png");
    padding: 60px;
    text-align: left;
    color: white;
  }
  img{
    padding: 10px;
    float:left;
    width: 300px;
    height: 200px;
  }
  section::after {
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  


  .carousel-inner img {
    width: 99%;
    height: 85%;
  }

 